@import "tailwindcss";


button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
}

@layer base {
  :root {
    --color-bg: #ffffff;
    --color-text: #222222;
    --color-header: #f9fafb;
    --color-card: #ffffff;
  }

  .dark {
    --color-bg: #121212;
    --color-text: #e5e7eb;
    --color-header: #1f2937;
    --color-card: #1e1e1e;
  }
}
